body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#keyboard {
    display: flex;
    justify-content: center;
    position: relative;
    height: 150px;
}

.key.lower {
    border: 1px solid #292929;
    background-color: #f4fbff;
    color: #353535;
    width: 40px;
    height: 150px;
    margin: 0 2px;
    text-align: center;
    line-height: 250px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
    position: relative;
    z-index: 1; /* White keys below black keys */
}

.key.upper {
    border: 1px solid #000000;
    background-color: #000000;
    width: 25px;
    height: 90px;
    margin: 0 -12.5px;
    text-align: center;
    line-height: 130px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
    color: #ffffff;
    position:absolute; /* Position black keys over white keys */
    z-index: 2; /* Black keys on top */
}

/* Active state for white keys */
.key.key.lower:active {
    background-color: #cccccc;
}

/* Active state for black keys */
.key.key.upper:active {
    background-color: #555555;
}

/* positioning to match a piano's black keys layout */
.upper[data-note="C#4"] {
    left: 40%; /* Between C and D */
}
.upper[data-note="D#4"] {
    left: 43.3%; /* Between D and E */
}
/* No black key between E and F */

.upper[data-note="F#4"] {
    left: 49.9%; /* Between F and G */
}
.upper[data-note="G#4"] {
    left: 53.23%; /* Between G and A */
}
.upper[data-note="A#4"] {
    left: 56.56%; /* Between A and B */
}
