.chord_div{
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}
.interval_div{
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.intro{
    align-self: center;
}

.button{
    background-color: #0b4469;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #a0d8ca;
}

#intro{
    background-color: #103c5a;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #a0d8ca; 
}
